{% extends 'base.html' %}
{% block header %}
    <script>
        function popupRemoveWatchlistFromUser(user_pk, list_pk) {
            // Construct the URL by name and pass the path parameters as arguments
            var url = "{% url 'confirm_remove_watchlist' 0 %}";
            url = url.replace('0', user_pk);
            url = url.replace('0', list_pk);

            // Open the window with the constructed URL
            window.open(
                url,
                'Delete ' + list_pk,
                'width=400,height=400'
            );
        }

        function popupAddWatchlistToUser(list_pk) {
            let url = "{% url 'add_new_watchlist' %}";
            url = url.replace('0', list_pk)
            window.open(
                url,
                'Add'
                'width=400,height=400'
            );
        }
    </script>

{% endblock %}
{% block content %}
    <h1>WatchLists:</h1>
    <table>
        <thead>
                <th>Name</th>
                <th>Created</th>
                <th>Remove</th>
            </tr>
        </thead>
        <tbody>
            {% for watchlist in watchlists %}
                <tr>
                    <td><a href="{% url 'watchlist_edit' watchlist.id %}">{{ watchlist.title }}</a></td>
                    <td>{{ watchlist.created_at }}</td>
                    <td>
                        <button class="remove-btn" onclick="popupRemoveWatchlistFromUser('{{ object.pk }}', '{{ watchlist.pk }}')">❌</button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <button class="add-btn" onclick="popupAddWatchlistToUser('{{ object.pk }}')">New WatchList</button>
{% endblock %}
