<!-- stock_detail.html -->
{%  extends 'base.html' %}
{%  block header %}
    <title>{{object.symbol}} Details</title>
{% endblock %}
{% block content %}
    <h1>{{object.symbol}} Details</h1>
    <p>Name: {{object.name}}</p>
    <p>Exchange: {{object.exchange}}</p>
    <p>Last Refresh: {{object.last_refresh}}</p>
<!-- Chart container -->
    <canvas id="priceChart" width="400" height="200"></canvas>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        // Fetch price data from your backend and populate the chart
        var priceData = {{ price_list|safe }};
        var timestampData = {{timestamp_list|safe }};

        var ctx = document.getElementById('priceChart').getContext('2d');
        var priceChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: timestampData,
                datasets: [{
                    label: 'Price',
                    data: priceData,
                    backgroundColor: 'rgba(54, 162, 235, 0.2)',
                    borderColor: 'rgba(54, 162, 235, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    </script>
{% endblock %}
