{% extends 'base.html' %}
{% block header %}
    {% load static %}
    <script src="{% static 'stock_watch/scripts.js' %}" defer></script>
{% endblock %}
{% block content %}
    <h1>Edit {{ object.title }}</h1>
    <h2>Stocks:</h2>
    <table>
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Name</th>
                <th>Remove</th>
            </tr>
        </thead>
        <tbody>
            {% for stock in object.stocks.all %}
                <tr>
                    <td><a href="{% url 'stock_detail' stock.id %}">{{ stock.symbol }}</a></td>
                    <td>{{ stock.name }}</td>
                    <td>
                        <button class="remove-btn" onclick="openConfirmation('{{ stock.symbol }}', '{{ stock.name }}', '{{ object.title }}', '{% url 'remove_stock' %}')">❌</button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <p>Created at: {{ object.created_at }}</p>
    <p>Last updated: {{ object.updated_at }}</p>
{% endblock %}

