{% extends 'base.html' %}
{% block header %}
    <script>
        function popupRemoveStockFromWatchlist(list_pk, stock_pk) {
            // Construct the URL by name and pass the path parameters as arguments
            var url = "{% url 'confirm_remove_stock' 0 0 %}";
            url = url.replace('0', list_pk);
            url = url.replace('0', stock_pk);

            // Open the window with the constructed URL
            window.open(
                url,
                'Delete ' + stock_pk,
                'width=400,height=400'
            );
        }

        function popupAddStockToWatchlist(list_pk) {
            let url = "{% url 'add_new_stock' 0 %}";
            url = url.replace('0', list_pk)
            window.open(
                url,
                'Add',
                'width=400,height=400'
            );
        }
    </script>

{% endblock %}
{% block content %}
    <h1>Edit {{ object.title }}</h1>
    <h2>Stocks:</h2>
    <table>
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Name</th>
                <th>Remove</th>
            </tr>
        </thead>
        <tbody>
            {% for stock in object.stocks.all %}
                <tr>
                    <td><a href="{% url 'stock_detail' stock.id %}">{{ stock.symbol }}</a></td>
                    <td>{{ stock.name }}</td>
                    <td>
                        <button class="remove-btn" onclick="popupRemoveStockFromWatchlist('{{ object.pk }}', '{{ stock.pk }}')">❌</button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <button class="add-btn" onclick="popupAddStockToWatchlist('{{ object.pk }}')">Add Stock</button>
    <p>Created at: {{ object.created_at }}</p>
    <p>Last updated: {{ object.updated_at }}</p>
{% endblock %}

