<!-- watchlist_edit.html -->
{%  extends 'base.html' %}
{% block content %}
    <h1>Edit {{object.title}}</h1>
    <h2>Stocks:</h2>
<table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Symbol</th>
                <th>Remove</th>
            </tr>
        </thead>
        <tbody>
            {% for stock in object.stocks.all %}
                <tr>
                    <td>{{ stock.symbol }}</td>
                    <td>{{ stock.name }}</td>
                    <td>❌</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <p>Created at: {{ object.created_at }}</p>
    <p>Last updated: {{ object.updated_at }}</p>

{% endblock %}
